html {
	background-color: #7D2663;
	font-family: sans-serif;
}

h1 {
	margin: 0;
	font-size: 15vw;
	letter-spacing: -0.2rem;
	position: absolute;
	top: 0;
	z-index: -1;
}

h2 {
	font-size: 24px;
	margin: 0 20px;
}

p {
	margin: 0;
}

.controls {
	padding: 4vw;
	width: 75%;
	margin: 10vw auto;
	background-color: rgba(255,255,255,0.7);
	border: 5px solid black;
	opacity: 0.3;
	transition: 1s all;
}

.controls:hover, .controls:focus {
  opacity: 1;
}

.controls label, .controls p, .controls input {
	font-size: 3vw;
}

.controls div {
  padding-bottom: 1rem;
}

li {
	display: inline-block;
	list-style: none;
}

li > a {
	transition: all 0.2s linear;
	font-size: 16px;
	margin: 0 15px;
	color: #fff;
	text-decoration: none;
}

li > a:hover {
	color: #05f;
	text-decoration: underline;
}

